:root {
    --main-color: #396d0c;
    --section-color: #f8faf4;
    --part-color: #f5fdee;
}
html,
body {
    position: relative;
}
body {
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    color: #000;
}

/* Start Test */
.test {
    border: 1px solid #000;
}
/* End Test */

/* Start Index Page */
/* Start Navbar In All Pages */
.nav-contact {
    background-color: var(--part-color);
}
.nav-contact .lang-btn {
    border: none;
}
.navbar .logo {
    width: 120px;
}
.navbar .navbar-toggler {
    font-size: 25px;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--main-color);
    color: #000;
    transition: 0.3s;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .nav-item .nav-link {
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar .nav-item .nav-link.active {
    background-color: var(--part-color);
    padding: 10px;
    border-radius: 7px;
}
.navbar .nav-item .nav-link:hover {
    color: var(--main-color);
}
.navbar form .login {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: 0.5s;
}
.navbar form .login:hover {
    color: #FFF;
    background-color: var(--main-color);
}
.navbar form .add-survey {
    color: #FFF;
    background-color: var(--main-color);
    opacity: 0.6;
    margin-right: 25px;
    transition: 0.5s;
}
.navbar form .add-survey:hover {
    opacity: 1;
}
/* End Navbar In All Pages */
/* Start Landing */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--main-color);
    background-color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.swiper-button-next {
    right: 10%;
}
.swiper-button-prev {
    left: 10%;
}
.swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: 0;
    background-color: #FFF;
}
/* End Landing */
/* Start About Survey */
.about-survey {
    margin-top: 120px;
}
.about-survey .about-survey-text .about-survey-heading {
    color: var(--main-color);
    font-size: 45px;
}
.about-survey-body .left-side {
    margin-top: 0px;
    position: relative;
}
.about-survey-body .left-side img {
    border-radius: 0 20px 20px 0;
    margin-left: -113px;
}
.about-survey-body .left-side img:last-of-type {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.about-survey-body .right-side {
    text-align: end;
    margin-top: 0;
}
.about-survey-body .right-side .surveys {
    background-color: var(--main-color);
    color: #FFF;
    opacity: 0.6;
    transition: 0.3s;
}
.about-survey-body .right-side .surveys:hover {
    opacity: 1;
    transition: 0.5s;
}
.about-survey-body .right-side .add-survey {
    background-color: #FFF;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: 0.5s;
    margin-left: 40px;
}
.about-survey-body .right-side .add-survey:hover {
    background-color: var(--main-color);
    color: #FFF;
    transition: 0.5s;
}
/* End About Survey */








/* Start Media Query */
@media (max-width: 1200) {
    /* Start About Survey */
    .about-survey-body .left-side img:last-of-type {
        top: 60%;
        left: 30%;
    }
    .about-survey-body .right-side {
        margin-top: 225px;
    }
    /* End About Survey */
}
@media (max-width: 992px) {
    /* Start Navbar */
    .navbar .logo {
        width: 100px;
    }
    .navbar {
        position: relative;
    }
    .navbar .navbar-collapse {
        background-color: #FFF;
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(50%);
        z-index: 9999;
    
    }
    /* End Navbar */
    /* Start About Survey */
    .about-survey .about-survey-text .about-survey-heading {
        font-size: 40px;
    }
    .about-survey-body .left-side img:first-of-type {
        margin-left: 0;
    }
    .about-survey-body .left-side img:last-of-type {
        top: 60%;
        left: 45%;
    }
    .about-survey-body .right-side {
        margin-top: 225px;
    }
    /* End About Survey */
}
@media (max-width: 768px) {
    /* Start Navbar */
    .navbar .logo {
        width: 80px;
    }
    .navbar .navbar-toggler {
        font-size: 20px;
    }
    /* End Navbar */
    /* Start About Survey */
    .about-survey .about-survey-text .about-survey-heading {
        font-size: 40px;
    }
    .about-survey-body .left-side {
        margin-top: 0;
        margin-left: 145px;
    }
    .about-survey-body .left-side img:last-of-type {
        top: 60%;
        left: 70%;
    }
    .about-survey-body .right-side {
        margin-top: 225px;
    }
    /* End About Survey */
}
@media (max-width: 350px) {
    /* Start Navbar */
    .navbar .logo {
        width: 60px;
    }
    .navbar .navbar-toggler {
        font-size: 18px;
    }
    /* End Navbar */
    /* Start About Survey */
    .about-survey .about-survey-text .about-survey-heading {
        font-size: 40px;
    }
    .about-survey-body .left-side {
        margin-top: 0;
        margin-left: 145px;
    }
    .about-survey-body .left-side img:last-of-type {
        top: 60%;
        left: 70%;
    }
    .about-survey-body .right-side {
        margin-top: 225px;
    }
    /* End About Survey */
}
/* End Media Query */






/* Test */
.test {
    border: 1px solid #000;
}